body {
     scroll-behavior: smooth;
     margin: 0;
}

.content {
     height: 200px;
     padding: 20px;
     font-family: 'Roboto', sans-serif;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: none;
}

.content h1 {
     font-size: 48px;
}

.content .title {
     display: flex;
     align-items: center;
}

.content .title img {
     height: 50px;
     width: 50px;
     margin-right: 10px;
}

.content .user img {
     height: 50px;
     width: 50px;
     border-radius: 50%;
     cursor: pointer;
}

.content .user {
     font-size: 24px;
     align-items: center;
     display: flex;
}

.content .user #headerButton {
     border: 1px grey solid;
     font-family: 'Roboto', sans-serif;
     border-radius: 8px;
     padding: 10px;
     background-color: white;
     margin-right: 20px;
     transition: .2s ease-in-out;
     cursor: pointer;
}

.content .user #headerButton:hover {
     border: 1px #20cf32 solid;
     color: #20cf32;
}

.content .user .searchButton {
     color: rgb(94, 94, 94); 
     margin-right: 20px;
     transition: .2s ease-in-out;
     cursor: pointer;
}

.content .user .searchButton:hover {
     color: #20cf32;
}

#loginModal {
     border-radius: 16px;
     padding: 50px;
     max-width: 500px;
}

#loginModal .modalTitleHolder {
     display: flex;
     justify-content: center;
}

#loginModal .modalTitleHolder h1 {
     font-family: 'Montserrat', sans-serif;
     font-weight: 900;
}

#loginModal .modalSubtitleWrapper {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
}

#loginModal .loginInputWrapper {
     display: flex;
     align-items: center;
     font-size: 16px;
     justify-content: center;
     margin-top: 20px;
}

#loginModal .loginInputWrapper input {
     border: none;
     border-bottom: 1px solid #2b2b2b;
     font-size: 18px;
     font-family: 'Roboto', sans-serif;
     outline: none;
     text-align: center;
}

#loginModal .loginButtonWrapper {
     display: flex;
     justify-content: center;
}

#loginModal .loginButtonWrapper button {
     padding: 10px;
     width: 200px;
     background-color: #121212;
     color: white;
     font-family: 'Roboto', sans-serif;
     border-radius: 8px;
     border: none;
     margin-top: 30px;
     font-size: 18px;
     cursor: pointer;
     transition: .2s ease;
}

#loginModal .loginButtonWrapper button:hover {
     background-color: #222121;
}

.loginButtonWrapper a {
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-style: italic;
     margin-top: 20px;
     color: #1ca72a;
     cursor: pointer;
}

.rememberMeCheckbox {
     display: flex;
     justify-content: center;
     margin-top: 20px;
     align-items: center;
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-style: italic;
}

.rememberMeCheckbox input {
     height: 25px;
     width: 25px;
     background-color: #eee;
     outline: none;
     cursor: pointer;
}

#centeredText {
     display: flex;
     justify-content: center;
}

#profileModal {
     padding: 50px;
}

#profileModal button {
     padding: 10px;
     width: 200px;
     background-color: #121212;
     color: white;
     font-family: 'Roboto', sans-serif;
     border-radius: 8px;
     border: none;
     font-size: 18px;
     cursor: pointer;
     transition: .2s ease;
     margin-bottom: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
}

#profileModal button:hover {
     background-color: #222121;
}

#profileModal img {
     height: 100px;
     width: 100px;
     border-radius: 50%;
     margin-bottom: 20px;
}

#profileModal #trendingTopicsButton {
     padding: 10px;
     width: 200px;
     background-color: #ff7300;
     color: white;
     font-family: 'Roboto', sans-serif;
     border-radius: 8px;
     border: none;
     font-size: 18px;
     cursor: pointer;
     transition: .2s ease;
     margin-bottom: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
}

#profileModal #trendingTopicsButton:hover {
     background-color: #b65404;
}

#profileModal #logoutModalButton {
     padding: 10px;
     width: 200px;
     background-color: rgb(231, 33, 33);
     color: white;
     font-family: 'Roboto', sans-serif;
     border-radius: 8px;
     border: none;
     font-size: 18px;
     cursor: pointer;
     transition: .2s ease;
     margin-bottom: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
}

#profileModal #logoutModalButton:hover {
     background-color: rgb(148, 21, 21);
}

#profileModal #modalProfileUsername {
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-style: italic;
     margin-top: -10px;
}

#joinUsButton {
     background-color: white;
     color: black;
     font-family: 'Roboto', sans-serif;
     padding: 10px;
     border-radius: 8px;
     border: none;
     font-size: 16px;
     cursor: pointer;
     transition: .2s ease;
}

#joinUsButton:hover {
     background-color: #222121;
}

#NotLoggedContent {
     background-color: #121212;
     color: white;
     border-bottom: 3px solid #1ca72a;
}

#NotLoggedContent .searchButton {
     color: white;
}

#NotLoggedContent button:hover {
     background-color: #1ca72a;
     color: white;
}

#NotLoggedContent .user #enterButton {
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     margin-right: 20px;
     cursor: pointer;
}

#loginErrorDiv {
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-style: italic;
     font-size: 12px;
     color: rgb(226, 27, 27);
}

#notifyModal #notifyModalTitleHolder {
     display: flex;
     justify-content: center;
     font-family: 'Roboto', sans-serif;
}

#notifyDisplayer li {
     list-style: none;
     list-style-type: none;
     padding: 0px;
}

#notifyDisplayer #generatedNotify {
     padding: 20px;
     background-color: #121212;
     color: white;
     border-radius: 8px;
}

#notifyDisplayer #generatedNotifyLi {
     margin-bottom: 20px;
}

#notifyDisplayer #generatedNotify h2 {
     font-family: 'Roboto', sans-serif;
}

#notifyDisplayer #generatedNotify h3 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-style: italic;
}